:root{accent-color: #404BBF;
--pimary-font:"Roboto", sans-serif;
--primary-text-color:#434455;
--secondary-text-color: #2E2F42
--light-text-color
--secondary-font:"Raleway", sans-serif;
--background-color: #2e2f42;
}



.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;;
  color: #434455 ;
  background-color: #FFFFFF;
}

/* ======================================Komponents========================================== */
.descr-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.descr-title-dark {
  color: var#434455;
}
.descr-title-light {
  color: #f4f4fd;
}
.adress{font-style: normal;}

.mail-contact{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em; 
  color: #434455;
}

.mail-contact :hover,
.mail-contact :focus{color:#404BBF ;}

.phone-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  
}

/* ======================================Header========================================== */

.secondary-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
 text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #F4F4FD;
 color:#2E2F42;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#2E2F42;

}
.footer-studio-logo{font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
 display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
color: #F4F4FD;}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.menu-link :hover,
.menu-link :focus{
  color:#404BBF;}




/* ======================================Hero========================================== */

.hero{background-color: var(--background-color);
}
.hero-title{
font-family:var(--pimary-font);
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;}

 .tipe-button{  
 font-family: inherit;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
background: #4D5AE5;}

.tipe-button :hover,
.tipe-button :focus{
  background-color:  #404BBF;

  color: #FFFFFF;
}
.nav-button{  
 font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
color: #4D5AE5;
background:#F4F4FD;}

.tipe-button:hover,
.tipe-button:focus {background-color: #404BBF;
  color: #FFFFFF;}
 

/* ======================================Section our works========================================== */


/* ======================================Products========================================== */
.title{
  font-family:var(--pimary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2E2F42;
}

/* ========================Our team===================== */

.section-team{background-color: #F4F4FD;}
.team-list{background-color: #FFFFFF;}
.name-title{font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
 text-align: center;
  letter-spacing: 0.02em;
color: #2E2F42;}
/* ======================================footer========================================== */
