:root {
  accent-color: #404bbf;
  --pimary-font: "Roboto", sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --secondary-font: "Raleway", sans-serif;
  --background-color: #2e2f42;
  --web-logo: #4d5ae5;
  --paragraf-dark: #434455;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

/* ======================================Komponents========================================== */
.descr-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.descr-title-dark {
  color: var(--paragraf-dark);
}
.descr-title-light {
  color: #f4f4fd;
}
.adress {
  font-style: normal;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #434455;
}

.contact :hover,
.contact :focus {
  color: #404bbf;
}

.phone-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: #434455;
}

/* ======================================Header========================================== */

.secondary-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  background-color: #f4f4fd;
  color: #2e2f42;
}
.web-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--web-logo);
}
.studio-logo-dark {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link :hover,
.menu-link :focus {
  color: #404bbf;
}

/* ======================================Hero========================================== */

.hero {
  background-color: var(--background-color);
}
.hero-title {
  font-family: var(--pimary-font);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.type-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #ffffff;
  background: #4d5ae5;
}

.type-button :hover,
.type-button :focus {
  background-color: #404bbf;
  color: #ffffff;
}
.nav-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #4d5ae5;
  background: #f4f4fd;
}

.nav-button:hover,
.nav-button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* ======================================Section our works========================================== */

/* ======================================Products========================================== */
.title {
  font-family: var(--pimary-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* ========================Our team===================== */

.section-team {
  background-color: #f4f4fd;
}
.team-list {
  background-color: #ffffff;
}
.name-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* ======================================footer========================================== */

.page-footer {
  background-color: var(--background-color);
}
.studio-logo-light {
  color: #f4f4fd;
}
